body { 
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

h1 {
    font-size: 2rem;
    margin-block: 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-block: 1rem;
}
